**/node_modules
**/node
**/package-lock.json
*.log
**/.classpath
**/.factorypath
**/.settings/
**/.vscode/
**/target/
**/.vscode/
**/target/
**/*.ref
**/*.iml
**/*.bak
**/*.log
**/*.exc
**/.project
**/.vscode/
**/.env
**/.idea
./.angular
/test-results-native
**/env.json
